{% extends 'base.html.twig' %}

{% block title %}Edit Thanks{% endblock %}

{% block body %}
    <h1>Edit Thanks</h1>

    {{ include('thanks/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_thanks_index') }}">back to list</a>

    {{ include('thanks/_delete_form.html.twig') }}
{% endblock %}
